/* GRID MIS LIBROS */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1em;

    margin: 2em auto 3em auto;

    width: 60%;
    min-height: 100px;
}

.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 9.375em;
    margin: 0 auto;
    overflow: hidden;
}

.grid__item picture {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    overflow: hidden;
}

.grid__item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid__item picture {
    transition: transform 0.3s ease;
}

.grid__item:hover picture {
    transform: scale(1.2);
}

.main {
    margin: 10em 0 0 0;
}



/* responsive pantallas medianas */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
}

/* responsive pantallas pequeñas */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .grid__item img {
        width: 100%;
    }
}